@(status: actors.ProcessingBatch)

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Текущий батч</h3>
    </div>
    <div class="panel-body">
        <dl>
            <dt>Размер батча</dt>
            <dd>@status.size</dd>
            <dt>Обработано</dt>
            <dd>@status.processed</dd>
            <dt>Скорость обработки запросов/час</dt>
            <dd>@status.speed</dd>
            <dt>Текущие результаты</dt>
            <dd>
                <a href="/result/get/@status.id" target="_blank">Скачать файл с текущими результатами</a>
            <dd>
        </dl>
    </div>
</div>
